html {
  scroll-behavior: smooth;
}

.header {
  width: 100vw;
  height: 670px;
  background-color: #f5f5f5;
}
.header .header__navWrapper {
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__navigation {
  width: 1171px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.header .header__navigation .header__navigation--img {
  width: 31px;
  height: 25px;
}
.header .header__navigation .header__navigation--link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding-left: 30px;
}
.header .header__navigation .header__navigation--link:hover {
  color: #10c9c3;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.header .header__navigation .header__navigation--link:visited {
  color: black;
}
.header .header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
}
.header .header__banner .header__banner__wrapper {
  margin-bottom: 100px;
  margin-right: 374px;
}
.header .header__banner .header__banner__wrapper .header__bunner--heading {
  font-size: 38px;
  letter-spacing: 0.38px;
}
.header .header__banner .header__banner__wrapper .header__banner--text {
  padding-top: 32px;
  width: 474px;
  height: 72px;
  color: #787878;
  font-weight: 400;
  line-height: 28px;
}
.header .header__banner .header__banner__wrapper .header__banner--button {
  margin-top: 39px;
  width: 180px;
  height: 54px;
  background-color: #10c9c3;
  border: 0;
  color: white;
}

.main .main__about {
  height: 415px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__about .main__about--heading {
  padding-top: 100px;
}
.main .main__about .main__about--text {
  width: 620px;
  height: 62px;
  color: #787878;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.main .main__about .main__about--image {
  padding-top: 37px;
}
.main .main__skills {
  width: 100vw;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__skills .main__skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1370px;
  height: 100%;
}
.main .main__skills .main__skills__wrapper .main__skills__progress {
  width: 50%;
  height: 570px;
}
.main .main__skills .main__skills__wrapper .main__skills__progress .main__skills--heading {
  width: 500px;
  padding-top: 164px;
  font-size: 30px;
  font-weight: 500;
  line-height: 84px;
}
.main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 510px;
}
.main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar label {
  padding-bottom: 19px;
  width: 144px;
  height: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}
.main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar progress {
  width: 500px;
  height: 3px;
  margin-bottom: 41px;
  border: 0;
}
.main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar progress::-webkit-progress-bar {
  background-color: #d8d8d8;
}
.main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar progress::-webkit-progress-value {
  background-color: #10c9c3;
}
.main .main__skills .main__skills__wrapper .main__skills__photo {
  width: 50%;
  height: 570px;
  background-color: #e9e9e9;
}
.main .main__numbers {
  width: 100vw;
  height: 240px;
  background-color: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__numbers .main__numbers__wrapper {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .main__numbers .main__numbers__collumn {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 231px;
  margin-top: 102px;
}
.main .main__numbers .main__numbers__collumn .collum__image {
  width: 40px;
  height: 36px;
  padding-top: 18px;
}
.main .main__numbers .main__numbers__collumn .column__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 27px;
}
.main .main__numbers .main__numbers__collumn .collum__number {
  width: 34px;
  height: 13px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 16px;
}
.main .main__numbers .main__numbers__collumn .collum__text {
  width: 170px;
  height: 9px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.main .main__works {
  width: 100vw;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__works .main__works__images {
  width: 1370px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__works .main__works__images .main__works__images__firstWrapper {
  min-width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main__works .main__works__images .main__works__images__secondWrapper {
  min-width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .main__works .main__works__images .main__works__images__imgWithEye {
  position: relative;
  margin-bottom: -5px;
  width: 340px;
}
.main .main__works .main__works__images .main__works__images__imgWithEye .main__works__images--eye {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -24px;
  opacity: 0;
}
.main .main__works .main__works__images .main__works__images__imgWithEye::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.main .main__works .main__works__images .main__works__images__imgWithEye:hover::before {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .main__works .main__works__images .main__works__images__imgWithEye:hover .main__works__images--eye {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .main__works .main__works_learMoreButton {
  min-width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .main__works .main__works_learMoreButton .main__works_learMoreButton--text {
  height: 9px;
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.2px;
}
.main .main__workProcess {
  width: 100vw;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__workProcess .main__workProcess--heading {
  padding-top: 50px;
  width: 300px;
  height: 22px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
}
.main .main__workProcess .main__workProcess--text {
  padding-top: 15px;
  width: 600px;
  height: 38px;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-align: center;
}
.main .main__workProcess .main__workProcess--video {
  position: relative;
  margin-top: 57px;
  height: 571px;
  background-color: #e9e9e9;
}
.main .main__workProcess .main__workProcess--video .main__workProcess--videoPlayer {
  width: 100%;
  height: 100%;
}
.main .main__workProcess .main__workProcess--video .main__workProcess--playButton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border: 0;
  background-color: #10c9c3;
}
.main .main__workProcess .main__workProcess--video .main__workProcess--playButton::before {
  content: "";
  display: inline-block;
  border: 10px solid transparent;
  border-left: 15px solid white;
  margin-left: 13px;
  margin-top: 5px;
}
.main .main__services {
  width: 100vw;
  height: 535px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__services .main__services__wrapper {
  width: 1145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .main__services .main__services__wrapper .main__services__collumn {
  width: 230px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__services .main__services__wrapper .main__services__collumn .collum__heading {
  width: 160px;
  height: 12px;
  color: black;
  font-size: 12px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: center;
}
.main .main__services .main__services__wrapper .main__services__collumn .collum__text {
  padding-top: 20px;
  width: 270px;
  height: 35px;
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08px;
}
.main .main__services .main__services__wrapper .collumPaddingTop {
  padding-top: 60px;
}
.main .main__recommendations {
  width: 100vw;
  height: 600px;
  background-color: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__recommendations .main__recommendations__wrapper {
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__recommendations .main__recommendations--text {
  width: 900px;
  height: 99px;
  color: #ffffff;
  font-weight: 800;
  line-height: 36px;
  font-size: 24px;
  letter-spacing: 1.3px;
  text-align: center;
}
.main .main__recommendations .main__recommendations--AuthorName {
  padding-top: 35px;
  width: 165px;
  height: 9px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.main .main__recommendations .main__recommendations__imagesWrapper {
  padding-top: 109px;
  width: 40px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__clients {
  width: 100vw;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__clients .main__clients__wrapper {
  width: 1100px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__contactUs {
  width: 100vw;
  height: 815px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__contactUs .main__contactUs__wrapper {
  width: 680px;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--heading {
  width: 270px;
  height: 29px;
  color: #1d1d1d;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--text {
  width: 610px;
  height: 38px;
  color: #787878;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form {
  padding-top: 38px;
  width: 725px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.07px;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .main__contactUs--input {
  padding-left: 20px;
  margin-bottom: 30px;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .inputNameAndEmail {
  height: 48px;
  width: 310px;
  border: 0;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .EmailMargin {
  margin-left: 30px;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .inputTitle {
  height: 48px;
  width: 670px;
  border: 0;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .main__contactUs--textArea {
  width: 672px;
  height: 174px;
  border: 0;
  padding-top: 18px;
  padding-left: 20px;
  margin-bottom: 30px;
}
.main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .main__contactUs--submit {
  width: 180px;
  height: 54px;
  border: 0;
  background-color: #10c9c3;
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 1.2px;
  line-height: normal;
}

footer {
  width: 100vw;
  height: 290px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__wrapper {
  width: 1140px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__wrapper .footer__links {
  width: 370px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__wrapper .footer__links .footer__links__buttons {
  width: 165px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__wrapper .footer__links .footer__links__buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__wrapper .footer__links .footer__links__socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
}
footer .footer__heading {
  margin: 0;
  padding-bottom: 17px;
  width: 180px;
  height: 18px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
}
footer .footer__email {
  margin: 0;
}
footer p, footer a {
  color: #bcbcbc;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .header .header__navigation {
    width: 80vw;
    padding-bottom: 90px;
  }
  .header .header__banner {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 168px 0 0;
  }
  .main .main__skills {
    height: auto;
  }
  .main .main__skills .main__skills__wrapper {
    height: auto;
  }
  .main .main__skills .main__skills__wrapper .main__skills__progress {
    height: auto;
  }
  .main .main__skills .main__skills__wrapper .main__skills__progress .main__skills--heading {
    padding-top: 0px;
    padding-left: 10px;
  }
  .main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar label {
    padding-left: 10px;
  }
  .main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar progress {
    width: 400px;
    padding-left: 10px;
  }
  .main .main__skills .main__skills__wrapper .main__skills__photo {
    height: auto;
  }
  .main .main__services .main__services__wrapper .main__services__collumn .collum__text {
    width: auto;
  }
  .main .main__numbers .main__numbers__wrapper {
    width: auto;
  }
  .main .main__works .main__works__images {
    width: auto;
    height: auto;
  }
  .main .main__works .main__works__images .main__works__images__firstWrapper {
    width: auto;
    height: auto;
  }
  .main .main__works .main__works__images .main__works__images__secondWrapper {
    width: auto;
    height: auto;
  }
  .main .main__works .main__works__images .main__works__images__imgWithEye {
    width: 200px;
  }
  .main .main__works .main__works__images--image {
    width: 200px;
  }
  .footer__companyName {
    padding-left: 20px;
  }
  .main .main__workProcess .main__workProcess--video {
    width: 800px;
    height: 490px;
  }
}
@media screen and (max-width: 960px) {
  .header {
    width: 100vw;
  }
  .header .header__navigation {
    width: 100%;
    padding-bottom: 90px;
    position: relative;
  }
  .header .header__navigation .header__navigation--img {
    padding-left: 25px;
  }
  .header .header__navigation .header__navigation--navigateButtons {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #10c9c3;
    top: 70px;
    width: 100vw;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .header__navigation .header__menuButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: #10c9c3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__navigation .header__menuButton .header__menuButton--span {
    height: 2px;
    width: 60%;
    background-color: black;
    position: relative;
  }
  .header .header__navigation .header__menuButton .header__menuButton--span::before {
    content: "";
    position: absolute;
    top: -6px;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .header .header__navigation .header__menuButton .header__menuButton--span::after {
    content: "";
    position: absolute;
    top: 6px;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .header .header__navigation .active {
    position: absolute;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .header__banner {
    width: auto;
    padding: 0 0 0 0;
  }
  .header .header__banner .header__banner__wrapper {
    width: 90vw;
    margin-right: 0;
  }
  .header .header__banner .header__banner__wrapper .header__bunner--heading {
    font-size: 25px;
  }
  .header .header__banner .header__banner__wrapper .header__banner--text {
    width: auto;
    line-height: 22px;
    font-size: 14px;
  }
  .main .main__about .main__about--heading {
    padding-top: 50px;
  }
  .main .main__about .main__about--text {
    width: auto;
    font-size: 12px;
  }
  .main .main__about .main__about--image {
    padding-top: 75px;
  }
  .main .main__skills {
    display: block;
  }
  .main .main__skills .main__skills__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .main .main__skills .main__skills__wrapper .main__skills__progress {
    width: 100vw;
  }
  .main .main__skills .main__skills__wrapper .main__skills__progress .main__skills__progress--progressBar progress {
    width: 325px;
  }
  .main .main__skills .main__skills__wrapper .main__skills__photo {
    width: 100vw;
    height: 300px;
  }
  .main .main__numbers {
    height: 660px;
  }
  .main .main__numbers .main__numbers__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .main__numbers .main__numbers__collumn {
    margin: 0;
    height: auto;
  }
  .main .main__works {
    height: 100%;
  }
  .main .main__works .main__works__images .main__works__images__firstWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__works .main__works__images .main__works__images__firstWrapper .main__works__images__imgWithEye {
    width: 60vw;
  }
  .main .main__works .main__works__images .main__works__images__firstWrapper .main__works__images__imgWithEye .main__works__images--image {
    width: 60vw;
  }
  .main .main__works .main__works__images .main__works__images__secondWrapper {
    display: none;
  }
  .main .main__workProcess {
    height: 100%;
  }
  .main .main__workProcess .main__workProcess--text {
    width: 100vw;
    height: auto;
  }
  .main .main__workProcess .main__workProcess--video {
    width: 90vw;
    height: auto;
    margin-bottom: 40px;
  }
  .main .main__workProcess .main__workProcess--video .main__workProcess--playButton {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
  }
  .main .main__services {
    height: 1600px;
  }
  .main .main__services .main__services__wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .main__services .main__services__wrapper .main__services__collumn .collum__text {
    width: 270px;
  }
  .main .main__services .main__services__wrapper .collumPaddingTop {
    padding: 0;
  }
  .main .main__recommendations {
    height: 250px;
  }
  .main .main__recommendations .main__recommendations__wrapper {
    padding: 0;
    height: 100%;
  }
  .main .main__recommendations .main__recommendations__wrapper .main__recommendations--text {
    padding-top: 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .main .main__recommendations .main__recommendations__wrapper .main__recommendations--AuthorName {
    padding-top: 15px;
  }
  .main .main__recommendations .main__recommendations__wrapper .main__recommendations__imagesWrapper {
    padding-top: 30px;
  }
  .main .main__clients {
    height: 640px;
  }
  .main .main__clients .main__clients__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main .main__contactUs {
    height: 630px;
  }
  .main .main__contactUs .main__contactUs__wrapper {
    height: 100%;
  }
  .main .main__contactUs .main__contactUs__wrapper .main__contactUs--heading {
    margin: 0;
    height: auto;
    font-size: 25px;
  }
  .main .main__contactUs .main__contactUs__wrapper .main__contactUs--text {
    width: 80vw;
    font-size: 14px;
  }
  .main .main__contactUs .main__contactUs__wrapper .main__contactUs--form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    font-size: 12px;
  }
  .main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .EmailMargin {
    margin-left: 0;
  }
  .main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .main__contactUs--input {
    width: 80vw;
  }
  .main .main__contactUs .main__contactUs__wrapper .main__contactUs--form .main__contactUs--textArea {
    width: 80vw;
  }
  .footer .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90%;
    padding-left: 20px;
  }
  .footer .footer__wrapper .footer__companyName {
    padding-left: 0;
  }
  .footer .footer__wrapper .footer__text {
    margin: 0;
  }
}