$primary-color:  #10c9c3;

.header {
  height: 670px;
  background-color: #f5f5f5;
  
  .header__navWrapper {
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__navigation {
    width: 1171px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    .header__navigation--img {
      width: 31px;
      height: 25px;
    }

    .header__navigation--link{
      text-decoration: none;
      color: black;
      font-size: 12px;
      padding-left: 30px;
      &:hover {
        color: $primary-color;
        transition: 0.35s;
      }
      &:visited {
        color: black;
      }
    }    
  }

  .header__banner {
    display: flex;
    justify-content: flex-end;
    padding-left: 820px;
    padding-bottom: 100px;

    .header__banner__wrapper{

      .header__bunner--heading{
        font-size: 38px;
        letter-spacing: 0.38px;
      } 

      .header__banner--text {
        padding-top: 32px;
        width: 474px;
        height: 72px;
        color: #787878;
        font-weight: 400;
        line-height: 28px;
      }

      .header__banner--button {
        margin-top: 39px;
        width: 180px;
        height: 54px;
        background-color: #10c9c3;
        border: 0;
        color: white;
      }
    }
  }
}