<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Piroll</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <header class="headerContact">
    <div class="headerContact__navWrapper">
      <div class="headerContact__navigation">
        <img src="./img/logo.jpg" alt="#" class="headerContact__navigation--img">
        <nav class="headerContact__navigation--navigateButtons">
          <a href="./index.html" class="headerContact__navigation--link">HOME</a>
          <a href="#about" class="headerContact__navigation--link">ABOUT</a>
          <a href="#work" class="headerContact__navigation--link">WORK</a>
          <a href="#process" class="headerContact__navigation--link">PROCESS</a>
          <a href="#services" class="headerContact__navigation--link">SERVICES</a>
          <a href="#testimonials" class="headerContact__navigation--link">TESTIMONIALS</a>
          <a href="#contact" class="headerContact__navigation--link">CONTACT</a>
        </nav>

        <div class="header__menuButton">
          <span class="header__menuButton--span"></span>
        </div>
      </div>
  </header>

    <div class="main__contactUs" id="contact">
      <div class="main__contactUs__wrapper">
        <h2 class="main__contactUs--heading">Need a Project?</h2>
        <p class="main__contactUs--text">Let us know what you're looking for in an agency. We'll take a look and see
        if this could be the start of something beautiful.</p>

        <form name="contactUs" action="#" class="main__contactUs--form" id="form">
          <div class="main__contactUs--inputWrapper main__contactUs--form--name">
            <input name="name"  type="text" placeholder="YOUR NAME" class="main__contactUs--input inputNameAndEmail">
            <span>Введите имя</span>
          </div>

          <div class="main__contactUs--inputWrapper main__contactUs--form--email">
            <input name="email" placeholder="YOUR EMAIL" class="main__contactUs--input inputNameAndEmail EmailMargin">
            <span>Введите почту</span>
          </div>

          <div class="main__contactUs--inputWrapper main__contactUs--form--title">
            <input name="title"  type="text" placeholder="YOUR TITLE" class="main__contactUs--input inputTitle">
            <span>Введите заголовок обращения</span>
          </div>

          <div class="main__contactUs--inputWrapper main__contactUs--form--comment">
            <textarea name="comment" cols="170" rows="670" placeholder="YOUR COMMENT" class="main__contactUs--textArea"></textarea>
            <span>Введите ваше сообщение</span>
          </div>         

          <div class="form__buttonAndMessage">
            <button name="submit" type="submit" class="main__contactUs--submit">SEND MESSAGE</button>
            <span class="form__buttonAndMessage--successMesage">Ваше сообщение успешно отправленно</span>
            <span class="form__buttonAndMessage--faultMesage">Введите коректные данные</span>
          </div>
        </form>
      </div>      
    </div>    
  </main>

  <footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__companyName">
        <h3 class="footer__heading">Piroll Design, Inc.</h3>
        <p class="footer__text">© 2017 Piroll. All rights reserved. <br>Designed by robirurk.</p>
      </div>     

      <p class="footer__email">hello@pirolltheme.com <br> +44 987 065 908</p>
    
      <div class="footer__links">
        <div class="footer__links__buttons">
          <div class="footer__links__buttons__firstColumn">
            <a href="" class="footer__link">Projects</a>
            <a href="" class="footer__link">About</a>
            <a href="" class="footer__link">Services</a>
            <a href="" class="footer__link">Carrer</a>
          </div>         

          <div class="footer__links__buttons__secondColumn">
            <a href="" class="footer__link">News</a>
            <a href="" class="footer__link">Event</a>
            <a href="" class="footer__link">Contact</a>
            <a href="" class="footer__link">Legals</a>
          </div>          
        </div>

        <div class="footer__links__socialMedia">
          <a href="" class="footer__link">Facebook</a>
          <a href="" class="footer__link">Twitter</a>
          <a href="" class="footer__link">Instagramm</a>
          <a href="" class="footer__link">Dribble</a>  
        </div>
      </div>      
    </div>
  </footer>
</body>


</html>